body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: limegreen;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: lime;
}

#mensagem {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
